.form-control {
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  width: 250px;
  margin-bottom: 15px;
}

.btn {
  background-color:#4caf50;
  border: none;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.signup-btn:hover {
  background-color: #45a049;
}

.signup-form{
  width: fit-content;
  background-color: #fff;
  margin: 30px auto;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}


.signup-btn{
  display: block;
  margin: 10px auto;
  width: 150px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
