/* Navbar.css */

.navbar {
  background-color: #333; /* Darker shade of black */
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600;
}

@media (max-width: 768px) {
  .navbar-content {
      flex-direction: column;
      align-items: center;
  }

  .nav-links {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
}
